@inherits LayoutComponentBase

<PageTitle>WackyArchServer</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="/challenges">Challenges</a>
            <a href="/alpha">Alpha Sandbox</a>
            <LoginDisplay></LoginDisplay>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
