#ace-editor {
    height: 400px;
    font-size: 16px;
    font-family: "IBM VGA";
    background-color: var(--bg-green-light);
    color: var(--fg-darkgrey);
    border: 2px solid var(--fg-darkgrey);
}

#codebox-info {
    min-height: 2.5em;
    border: 2px solid var(--fg-darkgrey);
    border-bottom: none;
    background-color: var(--bg-green-light);
}

#codebox-info p {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
}

#codebox-container {
    width: 350px;
}