<div class="cpuinfo-mainbox">
    <table>
        <tr><th></th><th>Dec</th><th>Hex</th></tr>
        @foreach(var register in Cpu.Registers)
        {
            <tr><td>@register.Name</td><td>@register.Data.Value</td><td>@register.Data.Value.ToString("x")</td></tr>
        }
    </table>
    <div class="cpustatus">
        CPU: @CpuStatus
    </div>
</div>
<div class="controls">
    <button @onclick="LoadButtonPressed">Load Program</button><br/>
    <button @onclick="StepButtonPressed">Step</button><br/>
    <button @onclick="RunButtonPressed">Run</button><br/>
    <button @onclick="ResetButtonPressed">Reset</button><br/>
    <button @onclick="SubmitButtonPressed">Submit Solution</button><br/>
    <button @onclick="BackButtonPressed">Exit Challenge</button><br/>
</div>

@code {
    [Parameter, EditorRequired]
    public CPU Cpu { get; set; }

    [Parameter]
    public EventCallback LoadButtonPressed { get; set; }
    [Parameter]
    public EventCallback StepButtonPressed { get; set; }
    [Parameter]
    public EventCallback RunButtonPressed { get; set; }
    [Parameter]
    public EventCallback ResetButtonPressed { get; set; }
    [Parameter]
    public EventCallback SubmitButtonPressed { get; set; }
    [Parameter]
    public EventCallback BackButtonPressed { get; set; }

    public string CpuStatus { get; set; }
}
