<div class="filled-port-container">
    <div class="filled-port-info">
        @Port.Name [@(Port.BacklogData.Count + (Port.CurrentData == null ? 0 : 1))]
    </div>
    <div class="filled-port-content">
        @if (Port.CurrentData != null)
        {
            <pre class="current-data">@Port.CurrentData?.Value <span class="oi oi-arrow-right"></span></pre>
        }
        else if (Port.Pipe.Status == PipeStatus.AwaitingRead)
        {
            <pre class="current-data">@Port.Pipe.Data.Value <span class="oi oi-arrow-right"></span></pre>
        }
        @foreach(Word data in Port.BacklogData)
        {
            <pre>@data.Value</pre>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public WackyArch.Components.FilledPort Port { get; set; }


}
