.filled-port-container {
    min-width: 80px;
    max-width: 120px;
    display: flex;
    flex-flow: column;
    /*border-left: 3px solid var(--fg-darkgray);
    border-right: 3px solid var(--fg-darkgray);
    border-bottom: 1px solid var(--fg-darkgray);
    border-top: 3px solid var(--fg-darkgray);*/
}

.filled-port-info {
    border: 1px solid var(--fg-darkgray);
    background-color: var(--bg-green);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: bold;
}

.filled-port-content {
    background-color: var(--bg-green-light);
    border-left: 3px solid var(--fg-darkgray);
    border-right: 3px solid var(--fg-darkgray);
    border-bottom: 3px solid var(--fg-darkgray);
    border-top: 1px solid var(--fg-darkgray);
    overflow-y: hidden;
}

.filled-port-content pre {
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-left: 0.5em;
    border-bottom: 1px solid var(--fg-darkgray);
    line-height: 18px;
}

.filled-port-content pre.current-data {
    background-color: var(--hl-blue);
    text-align: right;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.filled-port-content pre.current-data span {
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: right;
    top: -1px;
}