#memory-view-container {
    width: 700px;
    height: 400px;
    background-color: var(--bg-green-light);
    color: var(--fg-darkgray);
    display: flex;
    flex-direction: column;
}

#memory-view-memory {
    width: 100%;
    overflow-y: scroll;
    border: 3px solid var(--fg-darkgray);
}

#memory-view-memory table {
    width: 100%;
    border-collapse: separate;
}

#memory-view-memory .memory-view-row td.row-label{
    font-weight: bold;
    border-right: 2px solid var(--fg-darkgray);
}

#memory-view-memory th {
    border-bottom: 2px solid var(--fg-darkgray);
    text-align: center;
    top: 0;
    position: sticky;
    background-color: var(--bg-green-light);
    z-index: 999;
    border-collapse: separate;
}

#memory-view-memory td {
    cursor: pointer;
    border: 1px solid var(--bg-green-light);
}

#memory-view-memory td:hover {
    border: 1px solid var(--fg-darkgray);
}

#memory-view-ports {
    border: 3px solid var(--fg-darkgray);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-top: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}

#memory-view-ports .addr,
#memory-view-memory .addr-hilite{
    background-color: var(--hl-red);
    color: var(--bg-green-light);
    font-weight: bold;
}

#memory-view-ports .pc,
#memory-view-memory .pc-hilite {
    color: var(--bg-green-light);
    background-color: var(--fg-darkgray);
    font-weight: bold;
}