#stack-view-container {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--bg-green-light);
    border: 3px solid var(--fg-darkgray);
    width: 80px;
    max-width: 120px;

}

#stack-view-container .stack-item {
    height: 1.2em;
    border-top: 1px solid var(--fg-darkgray);
    font-weight: bold;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#stack-view-container .sp {
    background-color: var(--hl-blue);
}

#stack-view-container .sp-value {
    padding-left: 0.2em;
}