<div id="stack-view-container">
    @for(int i = 0; i < Stack.MaxWords; i++)
    {
        if (Stack.Words[i] != null)
        {
            <div class="stack-item">@Stack.Words[i].Value</div>
        }
        else if (i == Stack.SP)
        {
            <div class="stack-item sp"></div>
        }
        else
        {
            <div class="stack-item"></div>
        }
    }
    <div class="sp-value">SP: @Stack.SP</div>
</div>

@code {
    [Parameter, EditorRequired]
    public Stack Stack { get; set; } = new();
}
